<nav class="navigation">
  <div class="container menu-bar">
    <h1 class="menu-header"><a href="/">L<span class="logo-data">D</span></a></h1>
    <div class="menu-categories">
      <a class="menu-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">Home</a>
      <a class="menu-link" routerLink="/champions" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">Champions</a>
      <a class="menu-link" routerLink="/items" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">Items</a>
    </div>
  </div>
</nav>