<div class="container">
  <div class="champion" *ngIf="!!champion">
    <header class="champion-header"><img src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/{{champion.key}}_0.jpg" alt="{{champion.key}} splash art">
      <h1 class="champion-name">{{champion.name}}</h1>
      <p class="champion-title">{{champion.title}}</p>
    </header>
    <div class="champion-info">
      <div class="champion-info-category" id="stats">
        <h2>Stats</h2>
        <div class="stats info-body">
          <p><b>Health :</b><br><span class="flat">{{champion.stats.hp}}</span><span class="perlevel"> (+{{champion.stats.hpperlevel}})</span></p>
          <p><b>Armor :</b><br><span class="flat">{{champion.stats.armor}}</span><span class="perlevel"> (+{{champion.stats.armorperlevel}})</span></p>
          <p><b>Health regen :</b><br><span class="flat">{{champion.stats.hpregen}}</span><span class="perlevel"> (+{{champion.stats.hpregenperlevel}})</span></p>
          <p><b>Magic resist :</b><br><span class="flat">{{champion.stats.spellblock}}</span><span class="perlevel"> (+{{champion.stats.spellblockperlevel}})</span></p>
          <p><b>Mana :</b><br><span class="flat">{{champion.stats.mp}}</span><span class="perlevel"> (+{{champion.stats.mpperlevel}})</span></p>
          <p><b>Attack :</b><br><span class="flat">{{champion.stats.attackdamage}}</span><span class="perlevel"> (+{{champion.stats.attackdamageperlevel}})</span></p>
          <p><b>Mana regen :</b><br><span class="flat">{{champion.stats.mpregen}}</span><span class="perlevel"> (+{{champion.stats.mpregenperlevel}})</span></p>
          <p><b>Range :</b><br><span class="flat">{{champion.stats.attackrange}}</span></p>
          <p><b>Move speed :</b><br><span class="flat">{{champion.stats.movespeed}}</span></p>
          <p><b>Attack speed :</b><br><span class="flat">{{(0.625 / (1 + champion.stats.attackspeedoffset)).toFixed(3)}}</span><span class="perlevel"> (+{{champion.stats.attackspeedperlevel}})</span></p>
        </div>
      </div>
      <div class="champion-info-category" id="overview">
        <h2>Overview</h2>
        <p class="info-body"><b>Category :</b> {{champion.tags}}</p>
        <div class="overview-info info-body">
          <div class="info"><span><b>Attack</b></span>
            <progress class="progress" id="attack" [value]="champion.info.attack" max="10"></progress>
          </div>
          <div class="info"><span><b>Magic</b></span>
            <progress class="progress" id="magic" [value]="champion.info.magic" max="10"></progress>
          </div>
          <div class="info"><span><b>Defense</b></span>
            <progress class="progress" id="defense" [value]="champion.info.defense" max="10"></progress>
          </div>
          <div class="info"><span><b>Toughness</b></span>
            <progress class="progress" id="toughness" [value]="champion.info.difficulty" max="10"></progress>
          </div>
        </div>
      </div>
      <div class="champion-info-category" id="skills">
        <h2>Skills</h2>
        <div class="info-body">
          <div class="skill">
            <div class="skill-head"><img src="https://ddragon.leagueoflegends.com/cdn/7.11.1/img/passive/{{champion.passive.image}}" alt="{{champion.passive.name}} image">
              <h3>{{champion.passive.name}} (passive)</h3>
            </div>
            <p>{{champion.passive.sanitizedDescription}}</p>
          </div>
          <div class="skill" *ngFor="let spell of champion.spells">
            <div class="skill-head"><img src="https://ddragon.leagueoflegends.com/cdn/7.11.1/img/spell/{{spell.image}}" alt="{{spell.name}} image">
              <div>
                <h3>{{spell.name}}</h3>
                <p><b>Cost :</b> {{spell.costBurn}}
                </p>
                <p><b>Range :</b> {{spell.rangeburn}}
                </p>
                <p><b>Cooldown :</b> {{spell.cooldownBurn}}
                </p>
              </div>
            </div>
            <p>{{spell.sanitizedDescription}}</p>
          </div>
        </div>
      </div>
      <div class="champion-info-category" id="skins">
        <h2>Skins</h2>
        <div class="skins info-body">
          <div class="skin" *ngFor="let skin of champion.skins">
            <a target="_blank" href="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/{{champion.key}}_{{skin .num}}.jpg"><img src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/{{champion.key}}_{{skin .num}}.jpg" alt="{{skin.name}} image"></a>
            <h3 class="skin-name">{{skin.name}}</h3>
          </div>
        </div>
      </div>
      <div class="champion-info-category" id="lore">
        <h2>Lore</h2>
        <p class="info-body lore" [innerHTML]="champion.lore"></p>
      </div>
    </div>
  </div>
</div>