<div class="container">
  <div class="hero-section">
    <h1 class="logo-text">League<span class="logo-data"> Data</span></h1>
    <form action="/summoner" method="GET" class="search-form">
      <input type="text" name="summonerName" placeholder="Summoner name" class="search">
      <select name="region" class="region">
        <option value="euw">EUW</option>
        <option value="na">NA</option>
        <option value="eune">EUNE</option>
        <option value="br">BR</option>
        <option value="las">LAS</option>
        <option value="lan">LAN</option>
        <option value="oce">OCE</option>
        <option value="ru">RU</option>
        <option value="tr">TR</option>
      </select>
      <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
    </form>
    <p class="error"></p>
  </div>
</div>